.button-bar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.link-button,
.category-button {
  display: inline-block;
  padding: 10px 20px;
  margin: 0 5px;
  background-color: #39005f;
  color: #f11e0f;
  text-decoration: none;
  border-radius: 4px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.link-button:hover,
.category-button:hover {
  background-color: #ec00005e;
}

.dropdown-button {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #7a2a2a00;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  display: block;
  padding: 10px;
  text-decoration: none;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #f11e0f;
  text-align: center;
}

.dropdown-content a:hover {
  background-color: #39005f;
}

.dropdown-button:hover .dropdown-content {
  display: block;
}
