*{
    padding: 0;
    margin: 10;
    box-sizing: border-box;
}

.body{
    width: 100vw;
    height: 100vh;

}

.btn-link {
    text-decoration: none;
    border: 1px solid #000;
    width: 160px;
    text-align: center;
    padding: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    background-color: rgb(46, 0, 77);
    color: rgb(255, 0, 0);
    font-weight: 800;
}

.select{
    text-decoration: none;
    border: 1px solid #000;
    width: 160px;
    text-align: center;
    padding: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    background-color: rgb(46, 0, 77);
    color: rgb(255, 0, 0);
    font-weight: 800;
}