*{
    margin: 3;
    padding: 3;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}


.button-bar {
    margin: 10;
    padding: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 800;
  }
  
  .link-button,
  .category-button {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 5px;
    background-color: #2e004d;
    color: #ff0000;
    text-decoration: none;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 800;
  }
  
.dropdown-content{
    text-align: center;

}

  .link-button:hover,
  .category-button:hover {
    background-color: #ff3c007e;
  }
  
  .dropdown-button {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f900;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgb(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .dropdown-content {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #ff0000;
  }
  
  .dropdown-content :hover {
    background-color: #f1f1f1;
  }
  
  .dropdown-button:hover .dropdown-content {
    display: block;
  }
  
